@-moz-document regexp('https:\/\/.*hackmd\.io\/.*') {
  /*--------------- view ---------------*/
  body, .ui-view-area, .markdown-body, .ui-content {
    background: #1e1e1e;
    color: #abb2bf;
  }

  .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6, .markdown-body hr {
    color: #ddd;
    border-color: #777 !important;
  }
  .h1 .small, .h1 small, 
  .h2 .small, .h2 small, 
  .h3 .small, .h3 small, 
  .h4 .small, .h4 small, 
  .h5 .small, .h5 small, 
  .h6 .small, .h6 small, 
  h1 .small, h1 small, 
  h2 .small, h2 small, 
  h3 .small, h3 small, 
  h4 .small, h4 small, 
  h5 .small, h5 small, 
  h6 .small, h6 small {
    color: #ddd;
  }
  .markdown-body p {
    color: #ddd;
  }
  .markdown-body a {
    color: #7bf;
  }
  .markdown-body ul li, ol li {
    color: #ddd;
  }
  .markdown-body blockquote {
    color: #ddd;
    border-left-color: #777;
    font-size: 16px;
  }
  .markdown-body code {
    color: #dfdfdf !important;
    background-color: #424a55;
  }
  .markdown-body pre code {
    color: #333 !important;
  }
  blockquote .small, blockquote footer, blockquote small {
    color: #bbb;
  }
  .mark, mark {
    background: #fff9b1;
  }

  /* TODO list */
  .task-list-item-checkbox {
    margin: 0.18em 0 0.2em -1.3em !important;
  }
  .task-list-item input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: -1px;
    margin: 0 1rem 0 0;
    cursor: pointer;
  }
  .task-list-item input[type=checkbox]::before {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 2px solid #F44336;
  }
  .task-list-item input[type=checkbox]:checked::before {
    -webkit-transform: rotate(-48deg);
    -moz-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    -o-transform: rotate(-48deg);
    transform: rotate(-48deg);
    height: 9px;
    border-color: #00E676;
    border-top-style: none;
    border-right-style: none;
  }
  .task-list-item input[type=checkbox]::after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 16px;
    height: 16px;
    background: #333;
    cursor: pointer;
  }

  /* table */
  .markdown-body table tr {
    background-color: #1e1e1e;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .markdown-body table tr:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .markdown-body table tr:nth-child(2n) {
    background-color: #333;
  }
  .markdown-body table tr th {
    color: #64B5F6;
  }
  .markdown-body table th, .markdown-body table td {
      border: none;
  }
  .markdown-body table tr th:first-child, .markdown-body table tr td:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  .markdown-body table tr th:last-child, .markdown-body table tr td:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .markdown-body table tr td {
    color: #ddd;
  }
  .markdown-body pre.flow-chart, .markdown-body pre.sequence-diagram, .markdown-body pre.graphviz, .markdown-body pre.mermaid, .markdown-body pre.abc {
    background-color: #fff !important;
  }

  /* alert */
  .alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6, .alert p, .alert ul li, .alert ol li {
    color: #31708f;
	}
	.alert a {
		color: #002752;
    font-weight: 700;
	}
	.alert h1:first-child, .alert h2:first-child, .alert h3:first-child, .alert h4:first-child, .alert h5:first-child, .alert h6:first-child {
    margin-top: 0;
	}
	.markdown-body .alert > p {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.markdown-body .alert > ul, .markdown-body .alert > ol {
		margin-bottom: 16px;
	}
	.markdown-body .alert > *:last-child {
    margin-bottom: 0;
	}
	.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
	}

  /* scroll bar */
  .ui-edit-area .ui-resizable-handle.ui-resizable-e {
    background-color: #303030;
    border: 1px solid #303030;
    box-shadow: none;
  }

  /* info bar */
  .ui-infobar {
    color: #999;
  }

  /* permission */
  .ui-permission a {
    color: #7bf;
  }

  /* table of contents block*/
  .ui-toc-dropdown {
    width: 42vw;
    max-height: 90vh;
    overflow: auto;
    text-align: inherit;
  }
  /* table of contents text*/
  .ui-toc-dropdown .nav > li > a {
    font-size: 14px;
    font-weight: bold;
    color: #ddd;
  }
  /* table of contents text: active*/
  .ui-toc-dropdown .nav > .active:focus > a, .ui-toc-dropdown .nav > .active:hover > a, .ui-toc-dropdown .nav > .active > a {
    color: #7bf;
    border-left-color: #7bf;
  }
  /* table of contents text: focus, hover*/
  .ui-toc-dropdown .nav > li > a:focus, .ui-toc-dropdown .nav > li > a:hover {
    color: #7bf;
    border-left-color: #7bf;
  }
  /* drop down floating table of contents */
  .ui-toc-dropdown.dropdown-menu {
    background: #333;
  }

  .toc-menu a {
    color: #ddd;
  }

  .toc-menu a:focus, .toc-menu a:hover {
    color: #7bf;
  }


  /*--------------- editor ---------------*/
  .cm-m-markdown {
    color: #ddd;   
  }
  .cm-s-one-dark .cm-header, .cm-m-xml.cm-attribute {
    color: #ffa653;
  }
  .cm-s-one-dark .cm-string, .cm-s-one-dark .cm-variable-2 {
    color: #7bf;
  }
  .cm-m-markdown.cm-variable-3 {
    color: #ff7e7e;
  }
  .cm-s-one-dark .cm-link {
    color: #b0ee83;
  }
  .cm-s-one-dark .CodeMirror-linenumber {
    color: #666;
  }
  .cm-strong {
    color: #f4511e;
  }
  .cm-s-one-dark .cm-comment {
    color: #888;
  }
  .cm-matchhighlight {
    color: #ffea00;
  }

  /*--------------- book mode ---------------*/
  #summary, .toolbar {
    background: #1e1e1e !important;
  }
  .toolbar i {
    color: #fff;
  }
  .summary h1, .summary h2, .summary h3 .summary hr {
    color: #ddd;
    border-color: #777 !important;
  }
  .summary .nav > li > a {
    color: #7bf;
  }
  .summary .nav-pills > li.active > a, .summary .nav-pills > li.active > a:focus, .summary .nav-pills > li.active > a:hover {
    color: #ff9100;
  }

  /*--------------- code mirror ---------------*/
  .modal-content {
    background: #1f2226;
  }
  .modal-header {
    border-bottom: 1px solid #46484f;
  }
  .modal-footer {
    border-top: 1px solid #46484f;
  }
  a.list-group-item {
    background: #1f2226;
    color: #ddd;
    border: 1px solid #46484f;
  }
  a.list-group-item .list-group-item-heading {
    color: #ddd;
  }
  a.list-group-item:focus, a.list-group-item:hover {
    background: #434651;
    color: #ddd;
  }
  button.close {
    color: #ddd;
    opacity: .5;
  }
  .CodeMirror {
    background: #1f2226;
  }
  .CodeMirror-gutters {
    background: #1f2226;
    border-right: 1px solid rgba(204, 217, 255, 0.1);
  }
  .cm-s-default .cm-comment {
    color: #888;
  }
  .cm-s-default .cm-quote {
    color: #ddd;
  }
  .cm-s-default .cm-header {
    color: #ffa653;
  }
  .cm-s-default .cm-link {
    color: #b0ee83;
  }
  .cm-s-default .cm-string, .cm-s-default .cm-variable-2 {
    color: #7bf;
  }
  .cm-s-default .cm-def {
    color: #c678dd;
  }
  .cm-s-default .cm-number, .cm-s-default .cm-attribute, .cm-s-default .cm-qualifier, .cm-s-default .cm-plus, .cm-s-default .cm-atom {
    color: #eda35e;
  }
  .cm-s-default .cm-property, .cm-s-default .cm-variable, .cm-s-default .cm-variable-3, .cm-s-default .cm-operator, .cm-s-default .cm-bracket {
    color: #f76e79;
  }
  .cm-s-default .cm-keyword, .cm-s-default .cm-builtin, .cm-s-default .cm-tag {
    color: #98c379;
  }
  .CodeMirror pre {
    color: #ddd;
  }
  .CodeMirror-lines .cm-m-markdown[style^="background-color: rgba(230, 255, 230, 0.7); text-decoration: underline;"] {
    background-color: #288c27 !important;
  }
  .CodeMirror-lines .cm-m-markdown[style^="background-color: rgba(255, 230, 230, 0.7); text-decoration: line-through;"] {
    background-color: #a52721 !important;
  }
}
