@-moz-document regexp('https:\/\/hackmd\.io\/.*') {
  /*--------------- view ---------------*/
  body, .ui-view-area, .markdown-body, .ui-content {
    background: #1e1e1e;
    color: #abb2bf;
  }

  .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6, .markdown-body hr {
    color: #ddd;
    border-color: #777 !important;
  }
  .markdown-body p {
    color: #ddd;
  }
  .markdown-body a {
    color: #7bf;
  }
  .markdown-body ul li, ol li {
    color: #ddd;
  }
  .markdown-body blockquote {
    color: #ddd;
    border-left-color: #777;
  }
  .markdown-body code {
    color: #424242 !important;
    background-color: #f7f7f7;
  }
  blockquote .small, blockquote footer, blockquote small {
    color: #bbb;
  }
  .mark, mark {
    background: #fff9b1;
  }

  /* TODO list */
  .task-list-item-checkbox {
    margin: 0.18em 0 0.2em -1.3em !important;
  }
  .task-list-item input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: -1px;
    margin: 0 1rem 0 0;
    cursor: pointer;
  }
  .task-list-item input[type=checkbox]::before {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 2px solid #F44336;
  }
  .task-list-item input[type=checkbox]:checked::before {
    -webkit-transform: rotate(-48deg);
    -moz-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    -o-transform: rotate(-48deg);
    transform: rotate(-48deg);
    height: 9px;
    border-color: #00E676;
    border-top-style: none;
    border-right-style: none;
  }
  .task-list-item input[type=checkbox]::after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 16px;
    height: 16px;
    background: #333;
    cursor: pointer;
  }

  /* table */
  .markdown-body table.part tr {
    background-color: #1e1e1e;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 6px, rgba(0, 0, 0, 0.4) 0px 1px 4px;
  }
  .markdown-body table.part tr:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .markdown-body table.part tr:nth-child(2n) {
    background-color: #333;
  }
  .markdown-body table.part tr th {
    color: #64B5F6;
  }
  .markdown-body table.part th, .markdown-body table.part td {
      border: none;
  }
  .markdown-body table.part tr th:first-child, .markdown-body table.part tr td:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  .markdown-body table.part tr th:last-child, .markdown-body table.part tr td:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .markdown-body table.part tr td {
    color: #ddd;
  }

  .part.sequence-diagram, .part.flow-chart, .part.graphviz, .part.mermaid, .part.abc {
    background-color: #fff !important;
  }

  .alert p {
    color: #000;
  }

  /* scroll bar */
  .ui-edit-area .ui-resizable-handle.ui-resizable-e {
    background-color: #303030;
    border: 1px solid #303030;
    box-shadow: none;
  }

  /* info bar */
  .ui-infobar {
    color: #999;
  }

  /* permission */
  .ui-permission a {
    color: #7bf;
  }

  /* table of contents block*/
  .ui-toc-dropdown {
    width: 42vw;
    max-height: 90vh;
    overflow: auto;
    text-align: inherit;
  }
  /* table of contents text*/
  .ui-toc-dropdown .nav > li > a {
    font-size: 14px;
    font-weight: bold;
    color: #ddd;
  }
  /* table of contents text: active*/
  .ui-toc-dropdown .nav > .active:focus > a, .ui-toc-dropdown .nav > .active:hover > a, .ui-toc-dropdown .nav > .active > a {
    color: #7bf;
    border-left-color: #7bf;
  }
  /* table of contents text: focus, hover*/
  .ui-toc-dropdown .nav > li > a:focus, .ui-toc-dropdown .nav > li > a:hover {
    color: #7bf;
    border-left-color: #7bf;
  }
  /* drop down floating table of contents */
  .ui-toc-dropdown.dropdown-menu {
    background: #333;
  }
  
  .toc-menu a {
    color: #ddd;
  }

  .toc-menu a:focus, .toc-menu a:hover {
    color: #7bf;
  }
  

  /*--------------- editor ---------------*/
  .cm-m-markdown {
    color: #ddd;   
  }

  .cm-s-one-dark .cm-header, .cm-m-xml.cm-attribute {
    color: #ffa653;
  }

  .cm-url, .cm-s-one-dark .cm-variable-2, .cm-string.cm-url, .cm-m-xml.cm-string, .cm-m-markdown.cm-url {
    color: #7bf !important;
  }

  .cm-m-markdown.cm-variable-3 {
    color: #ff7e7e;
  }

  .cm-s-one-dark .cm-link, .cm-m-xml.cm-tag, .cm-m-markdown.cm-tag, .cm-m-markdown.cm-keyword {
    color: #b0ee83;
  }

  .cm-s-one-dark .CodeMirror-linenumber {
    color: #666;
  }

  .cm-strong {
    color: #f4511e;
  }

  .cm-comment {
    color: #888 !important;
  }

  .cm-matchhighlight {
    color: #ffea00;
  }

  /*--------------- book mode ---------------*/
  #summary, .toolbar {
    background: #1e1e1e !important;
  }

  .toolbar i {
    color: #fff;
  }

  #summary h1, #summary h2, #summary h3 #summary hr {
    color: #ddd;
    border-color: #777 !important;
  }
  #summary a {
    color: #7bf;
  }
  #summary .active a {
    color: #ff9100;
  }
}
